




#yearselector,#monthselector{
   
    width: 320px;
    height: 80px;
    border-bottom: solid red ;
}


#yearheader,#monthheader{
    position: relative;
    bottom:40px;
}

#daycontainer{
    margin: auto;
width: 300px;
height: 130px;
overflow-x: scroll;
overflow-y: hidden;
border-spacing: 20px;



}

.datediv{
    display:table-cell;
    width: 130px;
    height: 80px;
    font-size: 50px;
    
 
    border: solid black ;
   

    
    
}
.arrowpic{
width: 80px;
z-index: 100;


}

#plussyear,#plussmonth{
    position: relative;
    transform: rotate(180deg);

    left:100px;
    top:-85px;
}
#minusyear,#minusmonth{
    position: relative;
    

    left:-100px;
 top:3px;
}