#containerEmp{
    width: auto;
   
}

#empheader,#departmentheader{
    position: relative;
    top:-200px;
}

#logoEmp{
    width: 25%;
    display: block;
    
}
#iddiv2{
    position: relative;
    width: 10%;
    top:-150px;
    left:75%;
}

#appContainer{
    position: relative;
    width: 90%;
    height: auto;
    position: relative;
    text-align: left;
    top:-100px;
   
}
#menuContainer{
    position: relative;
    width: auto;
    height: 20%;
    left:20px;
   
    
}
.menubutton{
    width: 150px;
    height:50px;
    border:solid red 1px;
    background-color:  #a42751;
    border-radius: 5%;
    font-weight:600 ;
    color:#FFFF;
    text-align: center;
    display: inline-block;

    z-index: 100;
   }
   .containerchoise{
       width: 900px;
       height: 500px;
       border:solid #a42751;
       background: linear-gradient(0deg, #ffffff 40%, #a42751 100%);
     text-align: center;
       border-radius: 2%;
       overflow-x: auto;
    
   }

   .headerincont{

    color: #ffffff;

    position: relative;
   }

   .orders{
    width: 250px;
    height: 70px;
    text-align: left;
    border: solid #A42751;
    background: #FFFFFF;
   
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
    overflow: hidden;
    border-radius: 5%;
}

.treatH,.timeH,.dateH{
    margin:5px;
}


#cancelorder{
    width: 100%;
    margin-top: -10%;
    margin-bottom:5%;
}


 

          .timetable {
            margin: auto;
            text-align: center;
            
            justify-content: center;
            width: 900px;
        }
        
        .headerText {
            text-align: center;
        }
        
        .time {
            font-weight: 600;
            text-decoration: none;
            color: #ffffff;
            text-align: center;
            margin: 1%;
            width: 25%;
            border: 1px solid #464646;
            border-radius: 5px;
            height: 50px;
            background-color: #A42751;
            cursor: pointer;
            display: inline-block;
        }
        
        div.time:hover {
            background-color: #75051B;
        }
        
        p {
            margin: 6px;
        }

        .notecont{
            
            
            width: 40px;
            position: relative;
            top:-50px;
            left:190px;
        }


        .note{
            width: 30px;
            position: relative;
           top:-20px;
           left: 7px;
          
        }

        
        .notetxt{
            margin: 0;
            position: relative;
            top:25px;
            font-size: 12px;
        }

        #notediv{
            position: absolute;
            width: 900px;
            height: 650px;
            border: solid black;
            top:-90px;
            background: linear-gradient(0deg, #ffffff 40%, #a42751 100%);
            border-radius:2% ;
           
        }
        #notecontainer{
            position: relative;
            width: 700px;
            height: 550px;
            border: solid black;
            left: 100px;
            top:-45px;
            border-radius:2% ;
            overflow-x: auto;

        }
        .ximg{
            position: relative;
            width: 50px;
             }

           #ximgnote{
            top:-60px;
            right:-440px;
           }

        .addnote{
            position: relative;
            width: 50px;
            top:200px;
           right:-375px; }

           .notes,.notes2{
               position: relative;
               margin: auto;
               width:95%;
               border:solid black;
               text-align: left;
               
               background: #ffffff;
               height: auto;
               overflow: auto;
               word-wrap: break-word;
               border-radius:2%;
           }

           #addempnotediv{
               z-index: 100;
               width: 300px;
               height: 300px;
               border:solid black;
               position: absolute;
               bottom: 350px;
               left:800px;
               background: linear-gradient(0deg, #ffffff 40%, #a42751 100%);
           }

           #ximgempnote{
            position: relative;
            left:230px;
            top:-155px;
            

           }

           #txtfromemp{

            position: relative;
            left:-25px;
            top:45px;
        width: 200px;
        height: 200px;
           }

           #empnotebutton{
            z-index: 100;
               position: relative;
               top:50px;
               margin: auto;
           }


           #makeorder{
               width: 500px;
               height: 500px;
               position: absolute;
               border: solid black;
               bottom: 50px;
               background-color: #FFFFFF;
               Left:20px;
           }

           #orderbutton,#abortord{
               margin:auto;
           }
           #rendernotes{
               margin:auto;
               width: 500px;
               border: solid black;
               height: 400px;
               overflow-x: auto;

           }
           .notes2{
            position: relative;
            margin: auto;
            width:400px;
            border:solid black;
            text-align: left;
            
            background: #ffffff;
            height: auto;
            overflow: auto;
            word-wrap: break-word;
            border-radius:2%;
        }