  





#ordercontainer{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 310px;
    height: 200px;
    border:solid #A42751;
     background:  rgba(164, 39, 81, 0.671) ;
    overflow:auto;
    border-radius: 2%;
}

.orders{
    width: 250px;
    height: 70px;
    text-align: left;
    border: solid #A42751;
    background: #FFFFFF;
    margin-left: auto;
    margin-right:auto ;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline block;
    overflow: hidden;
    border-radius: 5%;
}

.treatH,.timeH,.dateH{
    margin:5px;
}


#cancelorder{
    width: 100%;
    margin-top: -10%;
    margin-bottom:5%;
}

.delete{
    position: relative;
    text-align: center;
   width: 50px;
   font-size: 12px;
   font-weight: 600;
    
    margin-top: auto;
    top:-60px;
    left:190px;

    
    
}
