  





#ordercontainer{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    width: 310px;
    height: 200px;
    border:solid #A42751;
     background:  rgba(164, 39, 81, 0.671) ;
    overflow:auto;
    border-radius: 2%;
}

.orders{
    width: 250px;
    height: 70px;
    text-align: left;
    border: solid #A42751;
    background: #FFFFFF;
    margin-left: auto;
    margin-right:auto ;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline block;
    overflow: hidden;
    border-radius: 5%;
}

.treatH,.timeH,.dateH{
    margin:5px;
}


#cancelorder{
    width: 100%;
    margin-top: -10%;
    margin-bottom:5%;
}

.delete{
    display: block;
  position: relative;
  width: 70px;
  height: 70px;
  
  
 

  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
    
   
    top:-60px;
    left:180px;
    
    
    
    
    
}
.deletetxt{
    position:relative;
    top:30px;
    color:red;
    
}

.checkbox{
    
    position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.labelchk{
  
    position: absolute;
    top: 0;
    right: 20px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: solid red;
    border-width: 1px;
    border-radius: 10%;
}
.delete input:checked ~ .labelchk {
    background-color:  #A42751;}
    
    
.labelchk:after {
        content: "";
        position: absolute;
        display: none;}

.delete input:checked ~ .labelchk:after {
            display: block;
          }


.delete .labelchk:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }

